
@import url("/lib/dtk/dijit/themes/claro/claro.css");
@import url("/lib/dtk/dojox/layout/resources/ExpandoPane.css");




html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family:  Arial, Geneva, sans-serif;
  font-size: 11px;

}

#pageWrapper {
  width: 100%;
  height: 100%;
}





